<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>AutherFilter</filter-name>
        <filter-class>phuong.filters.AutherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>phuong.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>phuong.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>phuong.controllers.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingController</servlet-name>
        <servlet-class>phat.controllers.SearchListCatagoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddController</servlet-name>
        <servlet-class>phuong.controllers.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCatagoryController</servlet-name>
        <servlet-class>phat.controllers.ListCatagoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFlowerController</servlet-name>
        <servlet-class>phuong.controllers.SearchBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBillController</servlet-name>
        <servlet-class>phuong.controllers.UpdateBookBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFlowerBillController</servlet-name>
        <servlet-class>phuong.controllers.DeleteBookBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFlowerBillController</servlet-name>
        <servlet-class>phuong.controllers.UpdateBookBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyFlowerController</servlet-name>
        <servlet-class>phuong.controllers.BuyBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewController</servlet-name>
        <servlet-class>phat.controllers.ViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertController</servlet-name>
        <servlet-class>phuong.controllers.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>phuong.controllers.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>phuong.controllers.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchProductController</servlet-name>
        <servlet-class>phuong.controllers.AdminSearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowInsertPageController</servlet-name>
        <servlet-class>phuong.controllers.ShowInsertPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>phuong.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookController</servlet-name>
        <servlet-class>phuong.controllers.SearchBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookController1</servlet-name>
        <servlet-class>phuong.controllers.SearchBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyBookController</servlet-name>
        <servlet-class>phuong.controllers.BuyBookController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingController</servlet-name>
        <url-pattern>/ShoppingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddController</servlet-name>
        <url-pattern>/AddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCatagoryController</servlet-name>
        <url-pattern>/ListCatagoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFlowerController</servlet-name>
        <url-pattern>/SearchFlowerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBillController</servlet-name>
        <url-pattern>/UpdateBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFlowerBillController</servlet-name>
        <url-pattern>/DeleteFlowerBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFlowerBillController</servlet-name>
        <url-pattern>/UpdateFlowerBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyFlowerController</servlet-name>
        <url-pattern>/BuyFlowerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewController</servlet-name>
        <url-pattern>/ViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertController</servlet-name>
        <url-pattern>/InsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchProductController</servlet-name>
        <url-pattern>/AdminSearchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowInsertPageController</servlet-name>
        <url-pattern>/ShowInsertPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookController</servlet-name>
        <url-pattern>/SearchBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookController1</servlet-name>
        <url-pattern>/SearchBookController1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyBookController</servlet-name>
        <url-pattern>/BuyBookController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
